<p>Welcome to the Pokedex, you own personal Pokemon directory!</p>

<p>{{#link-to 'pokemon'}} Pokemon Listings {{/link-to}}</p>
<p>{{#link-to 'sightings'}} Pokemon Sightings {{/link-to}}</p>
<p>{{#link-to 'items'}} Current Item Inventory {{/link-to}}</p>
