<p>Welcome to the Pokedex, you own personal Pokemon directory!</p>

<p>{{#link-to 'pokemon'}} Pokemon You've Seen / Caught{{/link-to}}</p>
<p>{{#link-to 'items'}} Items You've Collected {{/link-to}}</p>
