<h4> Create a New Item </h4>

<p>Name: {{input valueBinding='newItem.name'}}</p>
<p>Category: {{input valueBinding='newItem.category'}}</p>
<p>Effect: {{input valueBinding='newItem.effect'}}</p>

<button {{action 'createItem'}}>Create Item</button>
