<h4> Create a New Item </h4>

<p>Name: {{input valueBinding='form.name'}}</p>
<p>Category: {{input valueBinding='form.category'}}</p>
<p>Effect: {{input valueBinding='form.effect'}}</p>

<button {{action 'createItem'}}>Create Item</button>
