{{item-form routeCreateItem='createItem'}}

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Effect</th>
    <th>Save?</th>
    <th>Delete?</th>
  </tr>
  {{#each model as |eachItem|}}
    {{item-row item=eachItem
        routeUpdateItem='updateItem'
        routeDestroyItem='destroyItem'}}
  {{/each}}
</table>
