<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Effect</th>
    <th>Delete?</th>
  </tr>
  {{#each model as |eachItem|}}
    {{item-row item=eachItem routeDestroyItem='destroyItem' focus-out='resetEditability'}}
  {{/each}}
</table>

{{new-item-form routeCreateItem='createItem'}}
